# Dependências
node_modules/

# Arquivos de ambiente (MUITO IMPORTANTE)
.env

# Compilação do TypeScript / JavaScript
dist/
build/

# IDE
.idea/
.vscode/

# Prisma
/prisma/dev.db
/prisma/dev.db-journal
*.db
*.db-journal

# Arquivos zip
*.zip